*{
    box-sizing: border-box;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

/*shared component*/
.header{
    width: 100vw;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CFD9;
}

.header p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #E8833A;
}

.title-bar{
    width: 100vw;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-bar p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    
    color: #293845;
}

/*first screen*/
.img-rectangle{
    width: 145px;
    height: 209px;
    margin-bottom: 11px;
    margin-left: 28px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    display: inline-block;
}

.img-rectangle img{

    width: 129px;
    height: 193px;
    margin: 8px;
}

/**/

.session{
    margin-left: 24px;
    margin-top: 23px;
}

.session span{

    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #293845;
}

.times{
    display: flex;
}

.time-rectangle{
    width: 83px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    margin-right: 8px;
    margin-top: 22px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.time-rectangle p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

/*assentos*/
.comprador-dados{
    margin-left: 24px;
}

.comprador-dados p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin-top: 7px;
}

.comprador-dados input{
    height: 51px;
    width: 327px;
    margin-top: 7px;
}

/*shared button*/
button{
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    border: none;
    border-radius: 3px;
    margin-left: 75px;
    margin-top: 60px;
}

button p{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}
